.intro-control-panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1024px) {
    	flex-wrap: wrap;
    }

    @media screen and (max-width: 1024px) {
    	align-items: flex-start;
    	flex-direction: column;
    }

    &__navigation {
    	margin-right: 20px;

    	@media screen and (max-width: 1024px) {
    		display: none;
    	}
    }

    &__titles-slider {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	width: 350px;
    	transform: translate(-50%, -50%);

    	@media screen and (max-width: 1024px) {
    		position: static;
    		margin-bottom: calc(20px + 10 * (100vw - 320px) / (1024 - 320));
    		width: 100%;
    		transform: none;
    	}

    	@media screen and (max-width: 320px) {
    		margin-bottom: 20px;
    	}
    }
}