.support-information {
    display: flex;
    flex-direction: column;

    &__block {
    	display: flex;
    	flex-direction: column;

    	&:not(:last-child) {
    		margin-bottom: 15px;
    	}
    }
}