.paragraph-link {
    line-height: 1.8;
    font-weight: 700;
    font-size: 15px;
    color: rgba(var(--color-04));
    transition: color 0.2s;

    &:focus-visible, &:hover {
    	color: rgba(var(--color-01));
    }
}