:root {
    --default-container-width: 1350px;
    --greater-container-width: 1770px;
    --container-padding-value: 20px;
    --header-source-height: 130px;
    --header-mobile-height: 70px;
    --color-01: 0, 0, 0;        /* #000000 */
    --color-02: 21, 21, 21;     /* #151515 */
    --color-03: 102, 102, 102;  /* #666666 */
    --color-04: 119, 119, 119;  /* #777777 */
    --color-05: 196, 196, 196;  /* #c4c4c4 */
    --color-06: 224, 224, 224;  /* #e0e0e0 */
    --color-07: 241, 241, 241;  /* #f1f1f1 */
    --color-08: 255, 255, 255;  /* #ffffff */
}