@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/roboto/400/roboto_400.woff2') format('woff2'),
    url('../assets/fonts/roboto/400/roboto_400.woff') format('woff'),
    url('../assets/fonts/roboto/400/roboto_400.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/roboto/700/roboto_700.woff2') format('woff2'),
    url('../assets/fonts/roboto/700/roboto_700.woff') format('woff'),
    url('../assets/fonts/roboto/700/roboto_700.ttf') format('truetype');
}