.default-button {
    padding: 15px 85px;
    border: 1px solid rgba(var(--color-02));
    background-color: rgba(var(--color-02));
    transition: background-color 0.2s;

    @media screen and (max-width: 1770px) {
    	padding-top: calc(12px + 3 * (100vw - 320px) / (1770 - 320));
    	padding-right: calc(40px + 55 * (100vw - 320px) / (1770 - 320));
    	padding-bottom: calc(12px + 3 * (100vw - 320px) / (1770 - 320));
    	padding-left: calc(40px + 55 * (100vw - 320px) / (1770 - 320));
    }

    &:focus-visible, &:hover {
    	background-color: transparent;

    	& span {
    		color: rgba(var(--color-01));
    	}
    }

    & span {
    	line-height: 1.0;
    	font-weight: 700;
    	font-size: 15px;
    	color: rgba(var(--color-08));
    	transition: color 0.2s;
    }
}